/* ==============================================
  General
===============================================*/

body {
    padding-top: 50px;
    padding-left:10px;
    padding-right:10px;
    padding-bottom:10px;
    font-family: 'Noto Sans', sans-serif;
}

/* footer{
  position:absolute;
  bottom:0;
  width:100%;
} */

a.skip {
    text-decoration: none;
    position: relative;
    top: -29px;
    transition:top ease-in .2s;
}

a.skip:focus{
    top: 12px;

}

.container {
    /* padding: 20px 40px 40px;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center; */
    display: grid;
    align-items: center;
    grid-template-columns: 1fr;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.index-headings{
  color: #ab76e0;
  font-size: 30px;
}

.hero-img{
  margin: 20px 30px 0 0;
  width: 100%;
}

.hero-txt {
  	width:100%;
}

.hr-line{
  color:#B3D2E6;
}


/************************ Photography images style *******************************/
.container-travel {
    /* padding: 20px 40px 40px; */
    max-width:100%;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr;
    justify-items: center;
    justify-content: center;
    background-color: #7d6d8e;
}

.travel-state {
  color:#ab76e0;
  margin:0px;
  font-size: 40px;
  text-align: center;
  /* margin-top: 2%; */

}

.travel-city{
  color:#7d6d8e;
  margin:0px;
  font-size: 30px;
  text-align: center;
  /* margin-bottom: 2%; */
}

.travel-img {
  max-width: 100%;
  height:auto;
  /* height: 75vh; */
}

.travel-par {
  color:white;
  padding-top:0;
  padding-left:2%;
  padding-right: 2%;
  text-align: center;
}

.img-gallery {
  display:grid;
  grid-template-columns: 1fr;
  justify-items: center;
  /* repeat(auto-fill, minmax(550px, 1fr)); */
  /* align-content: space-evenly; */
  grid-column-gap: 6px;
  grid-row-gap:6px;
  padding-top:2%;
  /* max-width:100%;
  margin: 0 auto;  */
}

.imgs-table {
  width: 100%;
  /* object-fit: cover; */
  height: auto;
  /* padding: 20px 20px 20px 20px; */
  /* border: 3px; */
  /* padding-bottom: 2%; */
  /* align-content:space-evenly; */
  /* align-items: stretch; */
}
/*<----End Photography Images------->*/


/*<----Contact CSS------->*/
.container-form{
  justify-content:center;
  max-width:100%;
  padding-top: 50px;
}


form{
  display: grid;
  grid-template-columns: 1fr;
  border: 3px solid #ab76e0;
 overflow: hidden;
 width: 50%;
 margin: auto;
}

button{
  color:black;
  background-color: #F0D4C5;
  border-color: #F0D4C5;
}
}


button .myBtn{
  display:none;
}

 .accordion {
  cursor: pointer;
  padding: 40%;
  width: 100%;
  text-align: left;
}

.a_btns{
  margin-top: 50%;
}

button.accordion{
  display: grid;
  grid-template-columns: 1fr;
  width: 100%;
  margin: auto;
  margin-top:5%;
  height:50px;
  /* font-size:10px; */
  color:white;
  background-color:#7d6d8e;
}

.accordion:hover {
  background-color: #0a2d66;
  color: white;
}

.panel {
  /* padding: 0 18px; */
  width: 100%;
  margin:auto;
  background-color: #e8e8e8;
  display: none;
  overflow: hidden;
}

.ac_photo{
  display:block;
  margin: auto;
  width: 100%;
}

.ac_button{
  margin-top: 20px;
  background-color:#F0D4C5;
  padding: 15px 40px;
  color: black;
  height:25px;
  display:inline-block;
  font-size: 13px;
  margin-left: 28%;
  margin-bottom: 5%;
}

.ac_button:hover{
  background-color:#0a2d66;
  color: white;
}


  .card_placement{
  display:none;
  width:200px;
  height: 50px;
  perspective: 1000px;
}
}


  .thememoji{
  display:none;
  width:15%;
}
}




@media screen and (min-width:780px){
  .travel-state{
    text-align:left;
  }
}




/* ==============================================
Media Queries HOME PAGE
===============================================*/

/* Desktop */
@media screen and (min-width:780px) {
  .container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
     grid-auto-rows: 300px;

   }
 }

@media screen and (min-width:780px){
.hero-img {
  grid-column: 1 / span 2;
  width:100%;
  margin-top: 30%;
}
}

@media screen and (min-width:780px){
.hero-txt {
  grid-column-start:3;
  /* width:300px; */
  padding-left: 20px;
  margin-top: 10px;
  align: right;
}
}

@media screen and (min-width:780px){
  .foot{
  display:none;
}
}



/**** Ipad *****/

 @media only screen and (min-width : 768px)
 and (max-width : 1024px)  {
   .hero-img {
       margin: 20px 30px 0 0;
       max-width:100%;
   }
   }


   @media only screen and (min-width : 768px)
   and (max-width : 1024px)  {
     .hero-txt {
        display:grid;
        grid-template-columns: 1fr;
        justify-items: center;
     }
     }


/* ==============================================
Media Queries PHOTO PAGE
===============================================*/
/* DESKTOP */


@media screen and (min-width:780px){
body {
    padding: 50px;
    font-family: 'Noto Sans', sans-serif;
}
}

@media screen and (min-width:780px){
    .travel-city{
    text-align:left;
}
}

/****** FLIP CARD *********/
@media screen and (min-width:780px){
  .card_placement{
  border-color:yellow;
  display: inline-block;
  width:200px;
  height: 50px;
  perspective: 1000px;
}
}

@media screen and (min-width:780px){
  .thememoji{
  width:15%;
  display:inline-block;
}
}

@media screen and (min-width:780px){
  .card{
  position:relative;
  width: 100%;
  height:100%;
  text-align:left;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}
}

@media screen and (min-width:780px){
.card_placement:hover .card{
  transform: rotateX(180deg);
}
}

@media screen and (min-width:780px){
  .card_front, .card_back{
  position:absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}
}


@media screen and (min-width:780px){
  .card_back{
  transform: rotateX(180deg);
  z-index: 2;
}
}

/****** FLIP CARD *********/



  @media screen and (min-width:780px){
  .img-gallery {
      padding-top: 5%;
      max-width: 100%;
      display: grid;
      grid-template-columns: 1fr 1fr;
      margin-left: auto;
      margin-right: auto;
      grid-column-gap: 15px;

  }
  }

@media screen and (min-width:780px){
  .travel-img{
    width:100%
  }
}

@media screen and (min-width:780px){
  .container-travel{
    max-width:100%;
    display: grid;
    grid-template-columns: 1fr;

  }
}

@media screen and (min-width:780px){
  .travel-state{
    text-align:left;
  }
}


@media screen and (min-width:780px){
  .travel-par{
  color:white;
  margin:0px;
  padding: 2%;
  text-align:left;
}
}

@media screen and (min-width:780px){
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
}

@media screen and (min-width:780px){
  .modal-content {
  position: relative;
  background-color: red;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
}
}

@media screen and (min-width:780px){
  .close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
}


@media screen and (min-width:780px){
.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
}

/* @media screen and (min-width:780px){
  .modal {
    width:100%;
}
} */

@media screen and (min-width:780px){
.modal-header {
  padding: 20px 8px;
  background-color: #7d6d8e;
  color: white;
  width:100%;
}
}

@media screen and (min-width:780px){
  .modal-body {
    padding: 20px 8px;
    width:50%;
    margin: auto;
    background-color:black;
    color: white;
}
}

@media screen and (min-width:780px){
  #ozplayer-1-container{
    width:100%;
  }
}

@media screen and (min-width:780px){
  #ozplayer-1-ozplayer-video{
    width:100%;
  }
}


@media screen and (min-width:780px){
  .myBtn{
	-moz-box-shadow:inset 0px 0px 14px -3px #ffffff;
	-webkit-box-shadow:inset 0px 0px 14px -3px #ffffff;
	box-shadow:inset 0px 0px 14px -3px #ffffff;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f0d4c5), color-stop(1, #f0d4c5));
	background:-moz-linear-gradient(top, #f0d4c5 5%, #f0d4c5 100%);
	background:-webkit-linear-gradient(top, #f0d4c5 5%, #f0d4c5 100%);
	background:-o-linear-gradient(top, #f0d4c5 5%, #f0d4c5 100%);
	background:-ms-linear-gradient(top, #f0d4c5 5%, #f0d4c5 100%);
	background:linear-gradient(to bottom, #f0d4c5 5%, #f0d4c5 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f0d4c5', endColorstr='#f0d4c5',GradientType=0);
	background-color:#f0d4c5;
	display:inline-block;
	cursor:pointer;
	color:#000000;
	font-family:'Noto Sans';
	font-size:15px;
	font-weight:bold;
	padding:10px 76px;
	text-decoration:none;
	text-shadow:0px 1px 0px #f0d4c5;
  margin: 2%;
}

@media screen and (min-width:780px){
  .myBtn:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f0d4c5), color-stop(1, #f0d4c5));
	background:-moz-linear-gradient(top, #f0d4c5 5%, #f0d4c5 100%);
	background:-webkit-linear-gradient(top, #f0d4c5 5%, #f0d4c5 100%);
	background:-o-linear-gradient(top, #f0d4c5 5%, #f0d4c5 100%);
	background:-ms-linear-gradient(top, #f0d4c5 5%, #f0d4c5 100%);
	background:linear-gradient(to bottom, #f0d4c5 5%, #f0d4c5 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f0d4c5', endColorstr='#f0d4c5',GradientType=0);
	background-color:#f0d4c5;
}
}

@media screen and (min-width:780px){
  .myBtn:active {
	position:relative;
	top:1px;
}
}


/*************** IPAD ****************/
@media screen only screen and (min-width : 768px)
and (max-width : 1024px){
body {
    padding: 50px;
    font-family: 'Noto Sans', sans-serif;
}
}

@media only screen and (min-width : 768px)
and (max-width : 1024px){
  .container-travel  {
    max-height:100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
}
}

@media only screen and (min-width : 768px)
and (max-width : 1024px){
  .travel-img  {
    max-width:100%;
    margin:auto;
}
}

@media only screen and (min-width : 768px)
and (max-width : 1024px){
  .travel-par  {
    text-align: left;
    margin-right:5%;
}
}

@media only screen and (min-width : 768px)
and (max-width : 1024px){
  .img-gallery {
  display:grid;
  grid-template-columns: 1fr
  justify-items: center;
  /* background-color:#F0D4C5; */
  padding-top:2%;
  grid-row-gap: 15px;
}
}

@media only screen and (min-width : 768px)
and (max-width : 1024px){
  .img-table {
    width: auto;

}
}

@media only screen and (min-width : 768px)
and (max-width : 1024px){
  .travel-state {
    color: #ab76e0;
    margin:0px;
    text-align:center;
  }
}


@media only screen and (min-width : 768px)
and (max-width : 1024px){
  .travel-city {
    color: #7d6d8e;
    margin:0px;
    text-align:center;
  }
}



/* ==============================================
Media Queries TRIPS
===============================================*/

/***************BEGIN DESKTOP ****************/
  @media screen and (min-width:780px){
  .accordion{
    cursor: pointer;
    padding: 3%;
    width: 100%;
    text-align: center;
  }
}

@media screen and (min-width:780px){
  button.accordion{
  display: grid;
  grid-template-columns: 1fr;
  width: 70%;
  margin: auto;
  margin-top:5%;
  height:50px;
  font-size:20px;
  color:white;
  background-color:#7d6d8e;
  }
}

@media screen and (min-width:780px){
  .accordion:hover {
  background-color: #0a2d66;
  color: white;
}
}

@media screen and (min-width:780px){
  .panel {
  padding: 0 18px;
  width: 50%;
  margin:auto;
  background-color: #e8e8e8;
  display: none;
  overflow: hidden;
}
}

@media screen and (min-width:780px){
  .ac_photo{
  display:block;
  margin: auto;
  width: 30vh;
  margin-top: 10px;
  padding-bottom: 10px;
}
}

@media screen and (min-width:780px){
  .ac_button{
  margin-top: 20px;
  background-color:#F0D4C5;
  padding: 15px 40px;
  color: white;
  height:25px;
  display:inline-block;
  font-size: 13px;
  margin-left: 33%;
  margin-bottom: 5%;
}
}

@media screen and (min-width:780px){
  .ac_button:hover{
  background-color:#0a2d66;
}
}

@media screen and (min-width:780px){
.a_btns{
  margin-top: 5%;
}
}



/*************** END DESKTOP ****************/

/*************** BEGIN IPAD ****************/
@media only screen and (min-width : 768px)
and (max-width : 1024px){
  .ac_button{
    margin-top: 5%;
    margin left: 35%;
  }
  }


  @media only screen and (min-width : 768px)
  and (max-width : 1024px){
    .a_btns{
      margin-top: 5%;
    }
    }

/*************** END IPAD ****************/




/* ==============================================
Media Queries Contact
===============================================*/

/***************BEGIN DESKTOP ****************/
  @media screen and (min-width:780px){
  .container-form{
    justify-content:left;
    max-width:100%;
    padding-top: 30px;
  }
}
/*************** END DESKTOP ****************/


/*************** IPAD ****************/
@media only screen and (min-width : 768px)
and (max-width : 1024px){
  form{
    display:grid;
    grid-template-columns: 1fr;
    border:4px solid #ab76e0;
  }
}

@media only screen and (min-width : 768px)
and (max-width : 1024px){
  .container-form{
    padding-top: 30px;
  }
